.container{
    word-wrap: break-word;
    
}
.navsection a,li{ /* this styles the list and links */
text-decoration: none;
list-style-type: none;
color: skyblue;
font-size: 18px;
border-bottom: 1px dotted darkgoldenrod;
margin: 2px;

}
.navsection a:active, a:visited{
color: black;
}
.navsection a:hover{
    color: yellowgreen;
}

    .navbar{ /* container for navigation content being aligned */
        display: flex;
        justify-content: space-between;
        
    
    }
    .headwords:hover, .headworksform:hover{
        
        font-size: 1.2em;
    }
.navlogo img {  /* this sets the width and height for the logo */
width: 133px;

}
.headtext{  /* styling text next for f1 logo*/
border-bottom: 2px dotted yellowgreen;
font-family: Helvetica;
margin: 20px 20px 20px 20px;
margin-top:20px;
padding: 5px;

}
.headwords{
  font-family: 'segoe ui';
  padding: 10px;
  margin: 10px;
  

}

.headwordsform{
    margin: 10px;
}

.button {
    background-color: yellowgreen;
    border: none;
    color: white;
    border-radius: 10%;
    padding: 10px 30px;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;}
    .alink{
        background-color: yellowgreen;
        border: none;
        color: white;
        border-radius: 10%;
        padding: 7px 20px;
        font-size: 1.1em;
        margin: 2px 2px;

        text-align: center;}
.formtext{
  border: 1px solid skyblue;
}
    
.content {  /*this style the parts below the nav bar */
width: 110%;

padding: 0;
margin-left: auto;
  margin-right: auto;
}
img{
    width: 105%;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    

}



img:hover{
    border: 0.1px solid #777;
}
@media only screen and (max-width: 45em) {  /* 540px */
    .responsive, .content{
        width: 100%;
    }
    .navmain{
        display: block;
        position: relative;
    }
    .navlogo img {  /* this sets the width and height for the logo */
        width: 133px;
        
        }
       
        .navbar{ /* container for navigation content being aligned */
            display: flex;
            justify-content: space-between;
            height: 235px;
        
        }
        
        .navsection{
          position: absolute;
          margin: -10px;
          display: none;
        }
        .show{
            display: inline-block;
        }
        .headwords:hover, .headworksform:hover{
        font-size: 100%;
            
        }
    
        .navsection a,li{ /* this styles the list and links */
            text-decoration: none;
            list-style-type: none;
            color: whitesmoke;
            border-bottom: 1px dotted yellowgreen;
           width: 120px;
            
            }
    }
    
    .line1{
        width: 30px;
        border-bottom: 2px solid dimgray;
        background-color: dimgray;
        margin: 5px;
        
    }
    .line2{
        width: 30px;
        border-bottom: 2px solid dimgray;
        background-color: dimgray;
        margin: 5px;
        
    }
    .line3{
        width: 30px;
        border-bottom: 2px solid dimgray;
        background-color: dimgray;
        margin: 5px;
        
    }
    .navicon{
        border: 2px solid whitesmoke;
        width: 43px;
        height: 38px;
        border-radius: 15%;
        margin: 22px;
    
    }
    .navicon:hover{
        background-color: whitesmoke;
        color: white;
        cursor: pointer;
        
    }
    .navicon:active{
        background-color: darkgray;
    }

.toplink{

border-radius: 20%;
width: 30px;
height: 30px;
border: 5px solid skyblue;
padding-right: 14px;
color: white;
font-family: 'segoe ui';
background-color: skyblue;
margin: auto;
position: fixed;
bottom: 0;
left: 85%;
z-index: 1;
transition: 2s; /* Safari */
}
.toplink a{
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 2em;
    
   
    
}
.toplink:hover{
transform: rotate(180deg);
width: 37px;
height: 30px;
padding: 8px 16px;
font-size: 1.5em;


}
.icons{
    display: flex;
    justify-content: space-between;
   
}
.paglink li,a{
    border-bottom: 0;
    text-decoration: none;
    list-style: none;
    display: inline;
    border-bottom: 2px solid white;
    color: whitesmoke;
    margin: 10px;
}
.paglink{
    
    font-size: 1.5em;
    background-color: skyblue;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    color: skyblue;
   
}

.pagslant{
    display: none;
}
.paglink a:hover {
    color: whitesmoke;

}
.paglink a:active{
    color:whitesmoke;
}


